.icon-sprite, .icon-dashboard, .icon-header-account, .icon-header-alert, .icon-help-min, .icon-ico5-min {
  background-image: url('../imgs/icon-s1d34c803e8.png');
  background-repeat: no-repeat;
}

.icon-dashboard {
  background-position: 0 0;
}

.icon-header-account {
  background-position: 0 -27px;
}

.icon-header-alert {
  background-position: 0 -62px;
}

.icon-help-min {
  background-position: 0 -98px;
}

.icon-ico5-min {
  background-position: 0 -121px;
}
